@import 'common';

.blog-content {
  padding: 0 100px 0px 100px;
}

// honey glazed salmon
.honey-glazed-salmon-image {
  @extend .blog-image;
}

.honey-glazed-salmon-image:before {
  @include blog-image-before('/img/honey-glazed-salmon.jpg');
}

// peanut butter cookie
.peanut-butter-cookie-image {
  @extend .blog-image;
}

.peanut-butter-cookie-image:before {
  @include blog-image-before('/img/peanut-butter-cookie.jpg');
}

// spinach pasta
.spinach-pasta-image {
  @extend .blog-image;
}

.spinach-pasta-image:before {
  @include blog-image-before('/img/spinach-pasta.jpg');
}

// sukiyaki
.sukiyaki-image {
  @extend .blog-image;
}

.sukiyaki-image:before {
  @include blog-image-before('/img/sukiyaki.jpg');
}

// muffin
.muffin-image {
  @extend .blog-image;
}

.muffin-image:before {
  @include blog-image-before('/img/muffin.jpg');
}

// steak
.steak-image {
  @extend .blog-image;
}

.steak-image:before {
  @include blog-image-before('/img/steak.jpg');
}

// burger
.burger-image {
  @extend .blog-image;
}

.burger-image:before {
  @include blog-image-before('/img/burger.jpg');
}