<!doctype html>
<html>
<head>
  <title>Test</title>

  <script src="/jquery/dist/jquery.js"></script>
  <script src="/materialize-css/dist/js/materialize.js"></script>
  <link rel="stylesheet" href="/react-coast/css/nav.css">
  <link rel="stylesheet" href="/palette/palette.css">
  <link rel="stylesheet" href="/gen/css/fansoffan.css">
</head>
<body>
  <div id="container"></div>
  <script src="/bundle.js"></script>
</body>
</html>
